<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<section xmlns="http://docbook.org/ns/docbook" version="5.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:id="_interface_plan_athena_1_1_core_1_1_application_1_1_interfaces_1_1_i_chantier_setup_input_mapper" xml:lang="en-US">
<title>PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper Interface Reference</title>
<indexterm><primary>PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper</primary></indexterm>
<para>

<para>Responsable du mapping des DTOs d&apos;entrée vers le modèle de domaine (Agrégat <link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link>). Peut également effectuer des validations de format de base et retourner des erreurs de mapping. </para>
 
</para>
Inheritance diagram for PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="interface_plan_athena_1_1_core_1_1_application_1_1_interfaces_1_1_i_chantier_setup_input_mapper__inherit__graph.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
Collaboration diagram for PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="interface_plan_athena_1_1_core_1_1_application_1_1_interfaces_1_1_i_chantier_setup_input_mapper__coll__graph.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
<simplesect>
    <title>Public Member Functions    </title>
        <itemizedlist>
            <listitem><para>Task&lt;(<link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link>? chantier, List&lt; MessageValidationDto &gt; messages)&gt; <link linkend="_interface_plan_athena_1_1_core_1_1_application_1_1_interfaces_1_1_i_chantier_setup_input_mapper_1afa69efb2fd2d45c704b38327c1839be4">MapToDomainAsync</link> (ChantierSetupInputDto inputDto)</para>

<para>Mappe le DTO d&apos;entrée vers l&apos;agrégat racine <link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link> du domaine. </para>
</listitem>
        </itemizedlist>
</simplesect>
<section>
<title>Detailed Description</title>

<para>Responsable du mapping des DTOs d&apos;entrée vers le modèle de domaine (Agrégat <link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link>). Peut également effectuer des validations de format de base et retourner des erreurs de mapping. </para>
<para>
Definition at line <link linkend="__i_chantier_setup_input_mapper_8cs_source_1l00014">14</link> of file <link linkend="__i_chantier_setup_input_mapper_8cs_source">IChantierSetupInputMapper.cs</link>.</para>
</section>
<section>
<title>Member Function Documentation</title>
<anchor xml:id="_interface_plan_athena_1_1_core_1_1_application_1_1_interfaces_1_1_i_chantier_setup_input_mapper_1afa69efb2fd2d45c704b38327c1839be4"/><section>
    <title>MapToDomainAsync()</title>
<indexterm><primary>MapToDomainAsync</primary><secondary>PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper</secondary></indexterm>
<indexterm><primary>PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper</primary><secondary>MapToDomainAsync</secondary></indexterm>
<para><computeroutput>Task&lt;(<link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link>? chantier, List&lt; MessageValidationDto &gt; messages)&gt; PlanAthena.Core.Application.Interfaces.IChantierSetupInputMapper.MapToDomainAsync (ChantierSetupInputDto inputDto)</computeroutput></para><para>

<para>Mappe le DTO d&apos;entrée vers l&apos;agrégat racine <link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link> du domaine. </para>
</para>

<para>
                <formalpara>
                    <title>
Parameters</title>
                    <para>
                    <table frame="all">
                        <tgroup cols="2" align="left" colsep="1" rowsep="1">
                        <colspec colwidth="1*"/>
                        <colspec colwidth="4*"/>
                        <tbody>
                            <row>
<entry>inputDto</entry><entry>
<para>Le DTO d&apos;entrée contenant les données du chantier.</para>
</entry>
                            </row>
                        </tbody>
                        </tgroup>
                    </table>
                    </para>
                </formalpara>
                <formalpara><title>Returns</title>

<para>Un tuple contenant l&apos;objet <link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link> du domaine (s&apos;il a pu être construit, même partiellement) et une liste de messages de validation (erreurs ou avertissements) survenus pendant le mapping ou la construction des objets du domaine due à des données invalides. Si des erreurs critiques sont rencontrées, l&apos;objet <link linkend="_class_plan_athena_1_1_core_1_1_domain_1_1_chantier">Chantier</link> peut être null. </para>
</formalpara>
</para>
<para>
Implemented in <link linkend="_class_plan_athena_1_1_core_1_1_application_1_1_services_1_1_chantier_setup_input_mapper_1a007560d0bb26995e8b2feecdabddf8a6">PlanAthena.Core.Application.Services.ChantierSetupInputMapper</link>.</para>
</section>
<para>
The documentation for this interface was generated from the following file:</para>
Application/Interfaces/<link linkend="__i_chantier_setup_input_mapper_8cs">IChantierSetupInputMapper.cs</link></section>
</section>
